branches:
  only:
  - /.*/

sudo: required
services:
  - docker

language: go

go:
- 1.9.1

install:
- mkdir -p /home/travis/gopath/bin
- mkdir -p /home/travis/gopath/pkg
- cd $HOME/gopath/src/github.com
# to allow to build from forks we need to make sure the repo is called 'fabric8-services'
- mv `ls` foo
- mv foo fabric8-services
- cd fabric8-services/fabric8-jenkins-proxy
- GODEP_OS_ARCH=`go env GOHOSTOS`-`go env GOHOSTARCH`
- GODEP_TAG=v0.3.2
- GODEP_LATEST_RELEASE_URL="https://github.com/golang/dep/releases/download/${GODEP_TAG}/dep-${GODEP_OS_ARCH}"
- mkdir /tmp/godep
- wget ${GODEP_LATEST_RELEASE_URL} -O /tmp/godep/dep
- chmod +x /tmp/godep/dep
- export PATH=$PATH:/tmp/godep/

script:
- make image
